.imgModal {
    width: 25rem;
}

.titreModal {
    margin-top: 0.5em;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.descriprix {
    margin-top: 0.3em;
    font-size: 15px;
    color: black;
    padding: 2px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.header {
    text-align: center;
    color: white;
    font-size: 30px;
}

.header img {
    width: 90%;
}

.border-left {
    border-left: 0.0625rem solid white;
}

.logo {
    font-family: "Pattaya-Regular";
    font-size: 40px;
}

.gop {
    font-size: 50px;
}

.badge-show {
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    align-content: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}

.badge-hide {
    display: none;
}

.item-button {
    position: relative;
}

.button-space>div {
    position: relative;
}

.color {
    color: white;
    font-size: x-large;
}

.footer-size {
    background: #262626;
    color: #627482 !important;
    text-align: center;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    padding-bottom: 20px;
    background-image: url("../img/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-size ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-size i {
    color: white;
    font-size: x-large;
}

.footer-size li {
    justify-content: space-between;
    flex-grow: 1;
}

.border-right {
    border-left: 0.0625rem solid white;
}

.reseaux li {
    justify-content: space-between;
}

.soulignerText {
    text-decoration: none;
    color: red;
}

.unactive {
    display: none;
}

.bg-title {
    background-color: #4d4d4e !important;
    font-size: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.adapt-basket .modal-body{
    overflow-x: scroll;
    
}

.adapt-basket {
    max-width: 100%
}


@media screen and (min-width : 576px) {
    .adapt-basket{
        max-width: 60%;
    }

    .adapt-basket .modal-body {
        overflow-x: auto;
    }
}

[data-quantity] > div {
    display: flex;
}

[data-quantity] button {
    user-select: none;
}

[data-quantity] span {
    flex: 1;
}

[data-promo-code] {
    color: #86ab15;
    display: none;
}

[data-promo-code]::before {
    content: " "
}

[data-promo-code]::after {
    content: " € - CODE ANOUSONEP6 (10%)"
}